#savedBooks-list {
  .img-no-margin {
    margin-left: 0;
    margin-right: 0;
  }
  img {
    width: 200px;
  }
}
#ratedBooks-list {
  .img-no-margin {
    margin-left: 0;
    margin-right: 0;
  }
  img {
    width: 200px;
  }
}
